fastapi==0.110.1
uvicorn==0.29.0
sqlalchemy==2.0.29
alembic==1.13.1
pg8000
python-dotenv==1.0.1
pydantic[email]==2.7.0
bcrypt
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
qrcode==7.4.2
resend==0.8.0
Pillow
